
<div class="imgCv">

</div>


<div class="card">
    <div class="contenido">
        <h2>Crear Curriculum</h2>
        <p>En esta sección de la página podrás crear tu curriculum en caso de no tener una. Esta también es llamado como hoja de vida la cual sirve para proporcionar a tus posibles empleadores futuros la información que necesitan sobre tu experiencia y competencias para determinar si satisfaces los requisitos del puesto y los criterios de reclutamiento de la empresa para posteriormente invitarte a una reunión y comprobar que eres el postulante ideal para cubrir el puesto vacante.</p>
        <button (click)="navegar()" class="btn-cv" mat-button color="primary">Crear</button>
    </div>
    
</div>