<div class="customimghome">

    <form class="buscar">
        <mat-form-field class="cuadro">
            <mat-label></mat-label>
            <input matInput placeholder="Ex. Buscar empleo" value="">
                
        </mat-form-field>
        <div class="trabajo">
            <button (click)="navegar()" class="search">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div class="cuerpo">
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">   
                <input type="radio" name="radio-btn" id="radio2"> 
                <input type="radio" name="radio-btn" id="radio3">  
            </div>
            <div class="slide">
                <h3>¿Todavía no tienes empleo?</h3>
                <p>¡Usa el buscador para encontrar tu empleo ideal adaptado a tu perfil laboral, aplica en cuestión de minutos!</p>
                <p class="p2">Hay miles de ofertas laborales disponibles para ti, anímate a buscarlas.</p>

            

            </div>
           
            <div class="navegacion">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>

            </div>
            <div class="manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>

            </div>

        </div>
    </div>
    
</div>

 




