<div class="container">
    <div class="row-12" id="contener">
        <div class="col-12" id="text">
            <h3>¿Has olvidado tu contraseña?</h3>
        </div>
        <div class="col-12" id="text2">
            <p>Ingresa la dirección de correo electrónico asociada a tu cuenta y te enviaremos un código para restablecer la contraseña.
            </p>
        </div>
        <div class="row-12" id="correo">
            <div class=" col-6 " id="icono">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="form-floating col-10 " >
                    <input type="email"  class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Correo electrónico</label>       
            </div>
        </div>
        <div class="crear2">
            <button (click)="navegar2()" mat-flat-button class="color3">Enviar codigo para restablecer contraseña</button>
        </div>
        <div class="col-6" id="linea" ><hr> </div>
        <div class="volver">
            <button (click)="navegar1()" class="colo1">O <br> Iniciar sesión</button>
        </div>
    </div>
</div>

    
   


