<div class="container">
    <form class="buscar3">
        <mat-form-field class="cuadro3">
            <mat-label></mat-label>
            <input matInput placeholder="EX. Buscar empleo" value="">
                
        </mat-form-field>
        <div class="trabajo3">
            <button (click)="navegar()" class="search">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div class="text-verde">
        <h5>Busqueda</h5>
    </div>
    <div class="card">
        
            <div class="tarjeta">
                    <button (click)="navegar2()"  type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
            </div>
            <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()"type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
                <div class="tarjeta">
                    <button (click)="navegar2()" type="button" class="btn btn-primary">
                        <div>
                            <h3>Nombre empresa</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </button>
                </div>
       

    </div>
</div>   