<div class="container">
    <div class="text-verde">
        <h5>Encuesta personal y educación</h5>
    </div>
    <div class="row-12" id="contener">
       
        
        <div class="row-12" id="correo">
            <div class="texto">
                <h5>Descríbete a ti mismo</h5>
            </div>
            
            <div class="form-floating col-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
            </div>
        </div>
        <div class="row-12" id="correo2">
            <div class="texto">
                <h5>Nivel académico</h5>
            </div>
            

            <div class="form-floating col-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
            </div>
        </div>
        <div class="row-12" id="correo2">
            <div class="texto">
                <h5>Número academico</h5>
            </div>
            

            <div class="form-floating col-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
            </div>
        </div>
        <div class="row-12" id="correo2">
            <div class="texto">
                <h5>¿Cuáles son tus pasatiempos?</h5>
            </div>
            

            <div class="form-floating col-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
            </div>
        </div>
        <div class="row-12" id="correo2">
            <div class="texto">
                <h5>¿Qué te parece lo mas atractivo de una oferta laboral?</h5>
            </div>
            

            <div class="form-floating col-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
            </div>
        </div>
        <div class="row-12" id="correo2">
            <div class="texto">
                <h5>¿Por qué te deberían contratar?</h5>
            </div>
            

            <div class="form-floating col-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
            </div>
        </div>

        <div class="crear1">
            <button (click)="navegar2()" mat-flat-button class="color3">Subir diplomas</button>
        </div>
        
        <div class="crear2">
            <button (click)="navegar1()" mat-flat-button class="color4">Cancelar</button>
            <button (click)="navegar2()" mat-flat-button class="color4">Validar</button>
            
        </div>
        
    </div>
</div>
