<div class="voz">
    <div class="fondo">
        <div class="fondo-blanco">
            <div class="text-verde">
                <h5>Registro por voz</h5>
            </div>
            <div class="tarjeta">
                <h3>Permisos de voz</h3>
                <p>¡Usa el buscador para encontrar tu empleo ideal adaptado a tu perfil laboral, aplica en cuestión de minutos!</p>
                <div class="crear2">
                    <button (click)="navegar1()" mat-flat-button class="color4">Cancelar</button>
                    <mat-checkbox class="color4">Permitir</mat-checkbox>
                </div>
                    
            </div>
            <div class="tarjeta2">
                
                    <h3>Permisos de voz</h3>
                
                <p>¡Usa el buscador para encontrar tu empleo ideal adaptado a tu perfil laboral, aplica en cuestión de minutos!</p>
                <div class="crear2">
                
                    <button (click)="navegar2()" mat-flat-button class="color3">Continuar</button>

                </div>
                
            </div>
        </div>
    
    </div>
    <div class="imgvoz">
        
    </div>
</div>
