<h3>Notificaciones</h3>
<div class="btnnoti">
    
    <div class="botones">
        <button (click)="navegar1()" class="btnarriba">
            <i class="fas fa-print-search"></i>
            Currículo visto
        </button>
    </div>
    <div class="botones">
        <button (click)="navegar3()" class="btnarriba"><i class="far fa-undo fa-flip-horizontal"></i>
            En proceso
        </button>
    </div>
    <div class="botones">
        <button  (click)="navegar4()" class="btnarriba"><i class="fas fa-vote-yea"></i>
            Convocado
        </button>
    </div>
    <div class="botones">
        <button (click)="navegar2()" class="btnarriba"><i class="fas fa-vote-nay"></i>
            Rechazado
        </button>
    </div>
</div>
<div class="text-verde">
    <h5>Postulaciones</h5>
</div>
<div class="card ">
    
        <div class="tarjeta container">
                <button (click)="navegar1()"  type="button" class="btn btn-primary row-12">
                    <div class="col-3">
                        <i  class="far fa-trash-alt"></i>
                    </div>
                    <div class="col-3">
                        <h3>Nombre empresa</h3>
                    </div>
                    <div class="col-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="col-3">
                        <p>xx/xx/xxxx</p>
                    </div>
                    
                </button>
                <div class="iconos">
                    <h6>Estado</h6>
                    <div class="icono">
                        <i class="fas fa-print-search"></i>
                    </div>

                </div>
        </div>
        <div class="tarjeta container">
                <button (click)="navegar4()"  type="button" class="btn btn-primary row-12">
                    <div class="col-3">
                        <i  class="far fa-trash-alt"></i>
                    </div>
                    <div class="col-3">
                        <h3>Nombre empresa</h3>
                    </div>
                    <div class="col-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="col-3">
                        <p>xx/xx/xxxx</p>
                    </div>
                    
                </button>
                <div class="iconos">
                    <h6>Estado</h6>
                    <div class="icono">
                        <i class="fas fa-vote-yea"></i>
                    </div>

                </div>
        </div>
        <div class="tarjeta container">
            <button (click)="navegar2()"  type="button" class="btn btn-primary row-12">
                <div class="col-3">
                    <i  class="far fa-trash-alt"></i>
                </div>
                <div class="col-3">
                    <h3>Nombre empresa</h3>
                </div>
                <div class="col-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="col-3">
                    <p>xx/xx/xxxx</p>
                </div>
                
            </button>
            <div class="iconos">
                <h6>Estado</h6>
                <div class="icono">
                    <i class="fas fa-vote-nay"></i>
                </div>

            </div>
        </div>
        <div class="tarjeta container">
            <button (click)="navegar1()"  type="button" class="btn btn-primary row-12">
                <div class="col-3">
                    <i  class="far fa-trash-alt"></i>
                </div>
                <div class="col-3">
                    <h3>Nombre empresa</h3>
                </div>
                <div class="col-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="col-3">
                    <p>xx/xx/xxxx</p>
                </div>
                
            </button>
            <div class="iconos">
                <h6>Estado</h6>
                <div class="icono">
                    <i class="fas fa-print-search"></i>
                </div>

            </div>
        </div>
        <div class="tarjeta container">
            <button (click)="navegar4()"  type="button" class="btn btn-primary row-12">
                <div class="col-3">
                    <i  class="far fa-trash-alt"></i>
                </div>
                <div class="col-3">
                    <h3>Nombre empresa</h3>
                </div>
                <div class="col-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="col-3">
                    <p>xx/xx/xxxx</p>
                </div>
                
            </button>
            <div class="iconos">
                <h6>Estado</h6>
                <div class="icono">
                    <i class="fas fa-vote-yea"></i>
                </div>

            </div>
        </div>
        <div class="tarjeta container">
            <button (click)="navegar2()"  type="button" class="btn btn-primary row-12">
                <div class="col-3">
                    <i  class="far fa-trash-alt"></i>
                </div>
                <div class="col-3">
                    <h3>Nombre empresa</h3>
                </div>
                <div class="col-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="col-3">
                    <p>xx/xx/xxxx</p>
                </div>
                
            </button>
            <div class="iconos">
                <h6>Estado</h6>
                <div class="icono">
                    <i class="fas fa-vote-nay"></i>
                </div>

            </div>
        </div>
        <div class="tarjeta container">
            <button (click)="navegar1()"  type="button" class="btn btn-primary row-12">
                <div class="col-3">
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="col-3">
                    <h3>Nombre empresa</h3>
                </div>
                <div class="col-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="col-3">
                    <p>xx/xx/xxxx</p>
                </div>
                
            </button>
            <div class="iconos">
                <h6>Estado</h6>
                <div class="icono">
                    <i class="fas fa-print-search"></i>
                </div>

            </div>
        </div>
        
   

    
</div>
 