*{
    background-color: #042940;
   
}
.color{
    width: 430px;
    height: 430px;
    border-radius: 15px;
    place-content: center;
    display: grid;
    
    
}
.color i{
    font-size: 150px;
    color: white;
    margin-left: 35px;
}
.crear2{
    display: grid;
    justify-content: center;
    
}
.color3{
    background-color: #9FC131;
    width: 194px;
    height: 46px;
    border-radius: 15px;
    margin-top: 77px;
    border: none;
    color: black;
    font-size: 14px;
    margin-left: 12px;
}
.color4{
    background-color:#F5F5F5;
    width: 130px;
    height: 46px;
    border-radius: 15px;
    border: none;
    color: black;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 45px;
}