<div class="conten">
    
    <div class=" noti row-12">
           <h3>Notificaciones</h3>
           <div class="botones col-6">
               <button  class="btnarriba">
                <i class="far fa-undo fa-flip-horizontal"></i>
                   En proceso
               </button>
           </div>
     </div>
      
   



   <div class="text-verde">
       <h3>Postulaciones</h3>
   </div>
   <div class="row-12" id="bloque">

       <div class=" card row-12" >
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
               <div class="tarjeta container row-12">
                   <button (click)="navegar1()" type="button" class="btn btn-primary row-6">
                       <div class="col-1">
                           <i  class="far fa-trash-alt"></i>
                       </div>
                       <div class="col-3">
                           <h3>Nombre empresa</h3>
                       </div>
                       <div class="col-5">
                           <p>Lorem ipsum dolor sit amet, consectetur </p>
                       </div>
                       <div class="col-2">
                           <p>xx/xx/xxxx</p>
                       </div>
                       
                   </button>
                  
               </div>
       </div>
       
       <div class="trabajo row-12">
           <div class="trabajo2 row-6">
               <div class="arriba ">
                   <div class="col-3">
                       <h3>Empresa</h3>
                   </div>
                   <div class="imghoja col-3" >
                       <img src="assets/images/asesor.png" class="rounded float-start" alt="...">
                   </div>
               </div>
               <div class=" testo col-12">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut auctor purus. Nunc accumsan, justo sed scelerisque interdum, ex nunc egestas dolor, in ultrices dui sem a diam. Sed non sagittis massa. Nam nulla elit, facilisis eget turpis at, vulputate laoreet odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus suscipit facilisis magna, et tincidunt nunc porttitor sed. Mauris nec lorem feugiat, congue eros sed, auctor justo. 

                       Donec at congue lorem. Vestibulum vitae laoreet libero. Morbi ultricies volutpat porta. Aenean libero nunc, porttitor a molestie sit amet, elementum a urna. Sed accumsan turpis pellentesque aliquam laoreet. In mi turpis, lacinia id risus vel, molestie hendrerit felis.</p>
               </div>
           </div>
       </div>

   </div>
   <div class="row-12">
   
       <div class="crear2">
           <button (click)="navegar()" mat-flat-button class="color4">Cancelar</button>
           
           
       </div>
   </div>
</div>
