<div class="fondoimg2">
    <div class="contener">
        <div class="text-verde">
            <h5>Postulaciones</h5>
        </div>
        <div class="card">
            <div class="text">
                <h2>Descripción de perfil</h2>
            </div>
            <div class="text2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut auctor purus. Nunc accumsan, justo sed scelerisque interdum, ex nunc egestas dolor, in ultrices dui sem a diam. Sed non sagittis massa. Nam nulla elit, facilisis eget turpis at, vulputate laoreet odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus suscipit facilisis magna, et tincidunt nunc porttitor sed. Mauris nec lorem feugiat, congue eros sed, auctor justo.<br> 

                    Donec at congue lorem. Vestibulum vitae laoreet libero. Morbi ultricies volutpat porta. Aenean libero nunc, porttitor a molestie sit amet, elementum a urna. Sed accumsan turpis pellentesque aliquam laoreet. In mi turpis, lacinia id risus vel, molestie hendrerit felis.</p>
            </div>
            <div class="madre">
                <div class="espacio">
                    <div class="text3">
                        <h3>Sugerencias</h3>
                    </div>
                    <div class="text4">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="espacios2">
                    <div class="text5">
                        <h3>Enlaces empleos</h3>
                    </div>
                
                    <div class="text6">
                        <ul>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnstest">
            <button (click)="navegar()" mat-flat-button class="color3">Ir a curriculum</button>
            <button (click)="navegar1()" mat-flat-button class="color4">Volver a inicio</button>
            
        </div>
    </div>



</div>
