<div class="container">
    <div class="row-12" id="contener">
        <div id="id">
            <div class="circulo col-12">
                <i class="fas fa-user"></i>
             </div>
        </div>
        <div class="text-nombres">
            <h3>Nombre(s) Apellidos</h3>
        </div>
        <div class="col-6" id="linea" >
            <hr>
        </div>
        <div class="row" id="text-contenido">
            <div class="col-8" >
                <h3>Sobre mi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut auctor purus. Nunc accumsan, justo sed scelerisque interdum, ex nunc egestas dolor, in ultrices dui sem a diam. Sed non sagittis massa. Nam nulla elit, facilisis eget turpis at, vulputate laoreet odio.</p>
            </div>
            <div class="col-4" id="fomacion">
                <h3>Formación academica</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut auctor purus. Nunc accumsan, justo sed scelerisque interdum, ex nunc egestas dolor, in ultrices dui sem a diam. Sed non sagittis massa. Nam nulla elit, facilisis eget turpis at, vulputate laoreet odio.</p>
            </div>
        </div>
        <div class="crear2">
            <button (click)="openDialog()"mat-flat-button class="color3">Subir curriculum</button>
            <button (click)="navegar()" mat-flat-button class="color3">Crear curriculum</button>

        </div>
    </div>

</div>
