
<div class="fondoimg2">
    <div class="tarjeta">
        <h2>Test de personalidad</h2>
        <div class="parrafos">

            <p>Los cuestionarios o test de personalidad han sido concebidos para realizar una evaluación de la personalidad de una persona o individuo. Existen muchas definiciones de personalidad que en resumen se concretan en la suma del conjunto de manifestaciones psicológicas del hombre. Cuando se habla de manifestaciones se refiere a las que son observables directamente como los movimientos corporales y las internas que son las emociones, pensamientos y valores, entre otros.
            </p>
            <p>Cuando se va a utilizar este tipo de cuestionario o test de personalidad para la evaluación de una persona, existen cuestionarios específicos, en el cual se quiere descubrir o conocer rasgos singulares y propios apropiados a un tipo de perfil general o profesional, en los que se debe medir un gran número de factores de la personalidad. </p>
        </div>
        <div class="btnstest">
            <button (click)="navegar()" mat-flat-button class="color3">Comenzar</button>
            <button (click)="navegar1()" mat-flat-button class="color4">Ir a curriculum</button>
            
        </div>
    </div>
    

</div>
