<div class="container">
    <div class="row-12">
        <div class=" imghoja col-12">
            <img src="assets/images/hoojavida.png" alt="">
        </div>
        <div class="row-12">
    
            <div class="crear2">
                <button (click)="navegar()" mat-flat-button class="color4">Volver</button>
                <button (click)="navegar1()" mat-flat-button class="color5">Descargar y subir al perfil</button>
                
            </div>
        </div>
    </div>
</div>
