
<div class="fondo">
    <h1>Documentos</h1>
    <div class="btn-documentos">
        <button (click)="openDialog()"  class="btn-doc"  mat-button color="primary" >
            <i class="far fa-plus"></i>
        </button>
        <button (click)="openDialogdos()"  class="btn-doc"  mat-button color="primary" >
            <i class="fas fa-camera-alt"></i>
        </button>
    </div>
    
    
    
</div>

   
    
    <div class="row" id="tarjetadoc">
        <div class="col-3">
            
            <div class="card">
                
                
                    <img class="col-5" src="assets/images/doc.png" alt="">
                    
                
                
                    <h2 class="col-12">Hoja de Vida</h2>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>
                
            </div>
            
        </div>
        <div class="col-3">
            <div class="card">
                <h2>PF</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>
            </div>
            

        </div>
        <div class="col-3">
            <div class="card">
                <h2>World</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>

            </div>
            

        </div>
        <div class="col-3">
            
            <div class="card">
                <h2>PDF</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>

            </div>

        </div>
        <div class="col-3">
            <div class="card">
                <h2>World</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>

            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h2>PDF</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>

            </div>

        </div>
        <div class="col-3">
            <div class="card">
                <h2>World</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>

            </div>

        </div>
        <div class=" col-3">
            <div class="card">
                <h2>PDF</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus. Nobis aut velit ea maiores, sit ad ipsam culpa repellat, doloremque animi vel eveniet necessitatibus inventore vero quam quibusdam quae?</p>

            </div>
            
        </div>
    
    </div>


