
<div class="fondoimg">
    <div class="circulo">
        <i class="fas fa-user"></i>

    </div>
    <div class="perfil">
        <div class="correo">
           
                <mat-form-field class="intcorreo">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput placeholder="Correo" value="">
                
                        
                </mat-form-field>
            
            <div class="iconcorreo">
                
                    <i class="fas fa-envelope"></i>
                
            </div>
            <mat-form-field class="intcorreo2" >
                <mat-label >Contraseña</mat-label>
                <input matInput placeholder="Correo" value="">
            
                    
            </mat-form-field>
        
            <div class="iconcorreo2">
                
                <i class="fas fa-key"></i>
                
            </div>
            <section class="txtbox">
                <mat-checkbox class="check" color="white"></mat-checkbox>
                
                
            </section>
            <p class="rr">recuerdame</p>

            <div class="btnrecuperar">
                <button (click)="navegar3()" mat-flat-button class="color">¿Olvidaste tu contraseña?</button>
            </div>
            <div class="btnrecuperar2">
                <button (click)="navegar4()" mat-flat-button class="color2">Iniciar sesión</button>
            </div>
            <div class="crear">
                <p>¿No tienes una cuenta? Registrate</p>
                <div class="crear2">
                    <button (click)="navegar1()" mat-flat-button class="color3">Texto</button>
                    <button (click)="navegar2()" class="color3">Voz</button>
                </div>
            </div>
        </div>


    </div>

</div>
