<div class="container">
    <div class="text-verde col-6">
        <h5>Encuesta personal y educación</h5>
    </div>
    
   
    <div class="row-12" id="bloques">
       
        <div class="row-12" id="contener">
            <div class="row-12" id="correo">
                <div class="texto">
                    <h5>Describe tu experiencia laboral</h5>
                </div>
                
                <div class="form-floating col-11">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 238px"></textarea>
                    <label for="floatingTextarea2"></label>
                </div>
                <div>
                    <mat-checkbox color="white">No tengo experiencia</mat-checkbox>
                </div>
            </div>

        </div>
        
    
        <div class="row-12" id="contener">
            <div class="text-verde2 col-6">
                <h5>Habilidades</h5>
            </div>
            <div class="row-12" id="correo">
                <div class="texto">
                    <h5>Describe tus habilidades</h5>
                </div>
                
                <div class="form-floating col-11">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 238px"></textarea>
                    <label for="floatingTextarea2"></label>
                </div>
                <div class="text2">
                    <h5>No sé cuales son mis habilidades</h5>
                </div>
                <div class="crear1">
                    <button (click)="navegar()" mat-flat-button class="color3">Ir a página de habilidades </button>
                </div>
            </div>
            

           
        </div>
      
    </div>
    <div class="row-12">
    
        <div class="crear2">
            <button (click)="navegar1()" mat-flat-button class="color4">Cancelar</button>
            <button (click)="navegar2()" mat-flat-button class="color5">Escoger plantilla</button>
            
        </div>
    </div>
    
</div>

