<div class="fondoimg2">
    <div class="container">
        <div class="tarjeta">
            <div class="arriba">
                <div class="btn-atras">
                    <button (click)="navegar()" class="btn"><i class="far fa-arrow-up fa-rotate-270"></i></button>
                </div>
                <div class="text">
                    <h2>Test de personalidad</h2>
                </div>
            </div>
            <div class="preguntas">
                <div class="text2">
                    <h6>1. Selecciona la imagen que mas te guste</h6>
                </div>
                <div>
                    <ul class="fotos">
                        <img src="assets/images/test1.png" alt="">
                        <img src="assets/images/test2.png" alt="">
                        <img src="assets/images/test3.png" alt="">
                        <img src="assets/images/test4.png" alt="">
                    </ul>
                </div>
                <div class=" seleccionar form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1"></label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1"></label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1"></label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1"></label>
                  </div>
                 
                <hr>
                <div class="text3">
                    <h6>2.¿Crees que el día no tiene bastantes horas para todas las cosas que deberías hacer?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>3.¿Siempre te mueves, caminas o comes con rapidez?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio3">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>4.¿Te sientes impaciente por el ritmo al que se desarrollan los acontecimientos?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>5.¿Tienes tendencia a terminar las frases de otras personas?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>6.¿Te sientes exageradamente irritado incluso rabioso cuando el coche que te precede en una carretera circula a una velocidad que consideras demasiado lenta?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>7.¿Consideras angustioso tener que hacer cola o esperar turno para conseguir una mesa en un restaurante?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>8.¿Encuentras intolerable ver cómo otras personas realizan tareas que sabes que se pueden hacer más deprisa?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>9.¿Eres de esas personas que leen a toda prisa o intentan siempre conseguir resúmenes o sumarios de obras literarias realmente interesantes y valiosas?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>10.¿Mientras disfrutas de un descanso, continúas pensando en tus problemas laborales, domésticos o profesionales?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>11.¿Te sientes vagamente culpable, cuando descansas y no haces nada durante varias horas o varios días?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>12.¿Acostumbras a evaluar en términos numéricos no sólo tu propio trabajo, sino también las actividades de los demás?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>13.¿Llevas con frecuencia material relacionado con tu trabajo o tus estudios a tu casa por la noche?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>14.¿Aprietas con frecuencia las mandíbulas, hasta el punto que te rechinan los dientes?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>
                <hr>
                <div class="text3">
                    <h6>15.¿Te sometes a ciertos plazos en tu trabajo que con frecuencia son difíciles de cumplir?</h6>
                </div>
                <div class="seleccionar2 form-check-inline">
                    <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    
                    <label class="form-check-label " for="inlineRadio1">
                    Si
                    </label>
                     
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="inlineRadio2">
                        No
                    </label>
                </div>







            </div>
            <div class="crear2">
                <button (click)="navegar1()" mat-flat-button class="color3">Enviar</button>
                
            </div>
        </div>
    </div>

</div>