<div class="container">
    <div class="row-12" id="contener">
        <div class="col-12" id="text">
            <h3>Ingresa el código de validación</h3>
        </div>
        <div class="col-12" id="text2">
            <p>Ingresa el código que se envió a tu correo electrónico para restablecer tu contraseña.</p>
        </div>
        <div class="row-12" id="correo">
            <div class=" col-6 " id="icono">
                <i class="fas fa-lock-alt"></i>
            </div>
            <div class="form-floating col-10 " >
                    <input type="email"  class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Codigo</label>       
            </div>
        </div>
        <div class="crear2">
            <button (click)="navegar1()" mat-flat-button class="color3">Validar código</button>
            <button  mat-flat-button class="color4">Enviar nuevo código</button>
        </div>
        
    </div>
</div>

